section.sect4{
    height: 900px;
    width: 100vw;
    
    
    position: relative;
    top: 0px;
}
section.sect4 div span{
    font-size: 50px;
   position: absolute; 
}
section.sect4 div span.what{
    font-family: poppi;
top: 150px;
left: 550px;
font-size: 30px;
}
section.sect4 div span.client{
    font-family: poppi;
    top: 150px;
    left: 640px;
    color: rgba(55,141,174,255);
    font-size: 30px;
}
section.sect4 div span.say{
    top: 150px;
    left: 810px;
    font-family: poppi;
    font-size: 30px;
}
section.sect4 p.titre{
    position: absolute;
    top: 220px;
    left: 400px;
    text-align: center;
    width: 650px;
    
    padding: 0;
    font-size: 13px;
    line-height: 1.9;

}
section.sect4 div.block3 {
    position: absolute;
    background-color: rgba(55,141,174,255);
    width: 890px;
    height: 200px;
    top: 400px;
    left: 300px;
    
}
section.sect4  img.pers{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 300px;
z-index: 1;
    left: 350px;
}
section.sect4  img.perso{
    position: absolute;
    width: 70px;
    height: 50px;
    bottom: 500px;
    right: 330px;
    top: 350px;
    
}
section.sect4 div.block3 p{
    width: 590px;
    height: 130px;
    left: 350px;
    position: absolute;
    color: rgb(249, 247, 247);
    line-height: 1.8;
    top: 50px;
    font-size: 10px;
    padding: 0;
    
}





footer{ 
    height: 570px;
    position: relative;
    top: 780px;
    background-color: rgba(55,141,174,255);
    

}
footer div.partie1{
   background-image: url(../image/contact.png);
    position: absolute;

    width: 100vw;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
background-attachment: fixed;
}
footer div.partie1 h4{
    
    position: absolute;
    top: 40px;
    font-size: 20px;
    left: 200px;
width: 350px;
height: 30px;
color:white;
z-index: 3;

}
footer div.partie1 p.phrase{
    position: absolute;
    padding: 0%;
    width: 450px;
    height: 50px;
    top: 80px;
    left: 190px;
    color: white;
    z-index: 2;
    font-size: 13px;
    line-height: 1.9;

}
footer div.ronde{
    height: 40px;
    padding: 0px;
    width:40px ;
    background-color:white;
    border-radius: 100%;
    position: relative;
    top:160px;
    left: 2px;
    margin: 5px;


    
}


footer h1{
    position: absolute;
    top: 300px;
    font-size: 40px;
    left: 790px;
    color: #ffffff;
    font-family: poppins;
    
    
}
footer  p.phras{
position: absolute;
top: 380px;
left: 500px;
text-align: center;
color: white;
width: 710px;


}
#verticle-line{
   width: 100vw;
   height: 1px; 
   background-color: white;
   position: absolute;
   top: 510px;
   left: 10px;
}
footer h6{
    position: absolute;
    top: 530px;
    color: white;
    left: 100px;
}
footer div.rond{
    height: 20px;
    padding: 0;
    width:20px ;
    background-color:white;
    border-radius: 100%;
    position: relative;
    top:530px;
    left: 1350px;
    margin: 5px;

}
#rond{
    display: flex;
}
#ronde{
    display: flex;
    position: absolute;
    left: 170px;
    top: 10px;
}


footer div div.partie2{
    
    position: absolute;
bottom: 270px;
    width: 100vw;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
background-attachment: fixed;
background-color:rgba(55,141,174,255) ;
opacity: 0.7;


}
